<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Mentoring Solution</a>
        </div>

        
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col float-right">
            <h4>Hello Mentor</h4>
        </div>
    </div>
    </div>
    
    <div class="container">
        <div class="tile job" *ngFor="let mentor of mentors">
            <div class="header">
                <div class="count">{{ mentor.id }}</div>
            </div>
            <div class="body">
                <div class="title">{{ mentor.subject }}</div>
            </div>
        </div>
        
    </div>