<ngx-spinner bdOpacity=0.9 bdColor="#77a0eb" size="default" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="topnav">
  <a class="active" target="_blank">Mentoring-App</a>

  <div class="topnav-right">
    <a target="_blank" (click)="doLogout()">Logout</a>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <div class="col float-center heading">
      <div>
        <span>Hello</span>
        <span class="name">{{ menteeUser?.firstName }} {{ menteeUser?.lastName }}</span>
      </div>
      <span> Please choose your Topic!</span>
    </div>
  </div>
  <div class="container-1">
    <div class="tile job" *ngFor="let subject of subjects" (click)="onStore(subject)"
      [ngClass]="{'selected': isSelected(subject.name) > -1}">
      <div class="header">
        <div class="count">{{ subject.id }}</div>
      </div>
      <div class="body">
        <div class="title">{{ subject.name }}</div>
      </div>
    </div>
  </div>
</div>
<div class="container m-top-30 display-center">
  <div class="row-slide">
    <button class="btn btn-primary display-center" (click)="onSaveData()" [disabled]="loading || !menteeSubject.length">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      <span class="save">Show Mentor List</span>
    </button>
  </div>
</div>


<div class="container">
  <br>
  <app-alert *ngIf="mentorList.length === 0" class="display-center"></app-alert>
  <table class="table table-bordered d-b-drop" *ngIf="mentorList.length">
    <thead class="thead">
      <tr>
        <th>Mentor Name</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody *ngFor="let mentor of mentorList">
        <tr *ngIf="mentorList === 0">Sorry! no mentor found></tr>
      <tr *ngFor="let sub of mentor.subject">
        <td>{{ mentor.firstName }}</td>
        <td>{{ sub }}</td>
      </tr>
    </tbody>
  </table>
</div>