@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Open Sans', sans-serif;
  font-size:40px;
}

body {
    background-color:#ececec;
}

.container-1 {
  margin: 50px 0 0 100px;
}

.tile {
  width:160px;
  height:180px;
  border-radius:4px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);
  margin-top:20px;
  margin-left:20px;
  float:left;
  cursor: pointer;
  &:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  }
  &.selected {
    filter: grayscale(50%);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  }
}

.tile.wide {
  width: 340px;
}

.tile .header {
  height:120px;
  background-color:#f4f4f4;
  border-radius: 4px 4px 0 0;
  color:white;
  font-weight:300;
}

.tile.wide .header .left, .tile.wide .header .right {
  width:160px;
  float:left;
}

.tile .header .count {
  font-size: 48px;
  text-align:center;
  padding:10px 0 0;
}

.tile .header .title {
  font-size: 20px;
  text-align:center;
}

.tile .body {
  height:60px;
  border-radius: 0 0 4px 4px;
  color:#333333;
  background-color:white;
}

.tile .body .title {
    text-align:center;
    font-size:20px;
    padding-top:2%;
}

.tile.wide .body .title {
  padding:4%;
}

.tile.job .header {
  background: linear-gradient(to bottom right, #609931, #87bc27);
}

.tile.job  .body {
  color: #609931;
}

.tile.resource .header {
  background: linear-gradient(to bottom right, #ef7f00, #f7b200);
}

.tile.resource  .body {
  color: #ef7f00;
}

.tile.quote .header {
  background: linear-gradient(to bottom right, #1f6abb, #4f9cf2);
}

.tile.quote  .body {
  color: #1f6abb;
}

.tile.invoice .header {
  background: linear-gradient(to bottom right, #0aa361, #1adc88);
}

.tile.invoice  .body {
  color: #0aa361;
}

.navbar-collapse.collapse.in { display: block !important; }




.main {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    flex-direction: column;
}

.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(90, 85, 85);
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
  cursor: pointer;
}

.row-slide {
  button {
    .spinner-border {
      margin-right: 16px !important;
    }
    .save {
      font-size: 25px;
    }
  }
  font-size: 25px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-top-30 {
  margin-top: 30px;
}

.d-background {
  background-color: #333;
  
}

.d-b-drop {
  margin-top: 70px;
    table-layout: fixed;
    table-layout: auto;
    border: double;
    border-color: cadetblue;
    text-align-last: center;
    table-layout: fixed;
    text-transform: capitalize;
    background-color: #679f2f;
  color: white;
}

.heading {
  font-size: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .name {
    font-weight: 600;
    margin-left: 16px;
    color: black;
  }
}

.thead {
  text-decoration: underline;
  -webkit-text-stroke: medium;

}

